{% extends 'base.html' %}

{% block content %}
<br>
<h1>Rosters</h1>

<br>
{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>    
{% endfor %}




{% if teams %}
<table class="table table-hover table-striped table-sm">
	<thead class="table-dark">
	  <tr>
		<th scope="col">Roster Id</th>
		<th scope="col">Team Name</th>
		<th scope="col">Avatar</th>
		<th scope="col">Salary</th>
		<th scope="col">Cap Holds</th>
		<th scope="col">Used Cap</th>
		<th scope="col">Cap Space</th>

	  </tr>
	</thead>
	<tbody>

	{% for team in teams %}


	  <tr>
		<th scope="row">{{team.id}}</th>
		<td><a href="{{ url_for('view_roster', id=team.id)}}">{{team.owner.teamname}}</a></td>
		<td><img src="{{team.owner.avatar}}" height = 100></img></td>
		<td>{{team.active_roster_salary}}</a></td>
		<td>{{team.cap_holds}}</a></td>
		<td>{{team.used_cap}}</a></td>
		<td>{{team.cap_space}}</a></td>

	</tr>

	  {% endfor %}
	  
	</tbody>
  </table>

  {% else %}
  <em>No results found.</em>

  {% endif %}





{% endblock %}

